@charset "UTF-8";
.no-outline {
  outline: none;
  background: transparent; }
  .no-outline::before {
    display: none; }

.button__bg-light,
.button__bg-dark {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 11px;
  width: 280px;
  height: 50px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer; }

.button__bg-light {
  color: #000000;
  border: 1px solid #e5ddd5; }
  .button__bg-light:hover, .button__bg-light:focus {
    border-color: #d5c9bd;
    transition: all 0.3s linear; }
  .button__bg-light:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd; }

.button__bg-dark {
  color: #ffffff;
  border: 1px solid #3e3e3e; }
  .button__bg-dark:hover, .button__bg-dark:focus {
    border-color: #515151;
    transition: all 0.3s linear; }
  .button__bg-dark:active {
    background-color: #252525;
    border-color: transparent;
    opacity: 0.3; }

@media (min-width: 768px) {
  .button__bg-light,
  .button__bg-dark {
    width: 160px; } }

.page-header {
  background-color: #353535; }

.page-header__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  background-color: #292929; }

.page-header__logo {
  height: 82px;
  text-align: center; }

.page-header__logo-image {
  width: 226px;
  height: 82px; }

@media (min-width: 768px) {
  .page-header {
    background-color: #353535; }
  .page-header__container {
    position: relative;
    width: 768px; }
  .page-header__logo {
    order: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 397px;
    background-color: #353535;
    background-image: url("../img/bg-header-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center -72px; } }
  @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header__logo {
      background-image: url("../img/bg-header-tablet@2x.jpg");
      background-size: 1338px auto; } }

@media (min-width: 768px) {
  .page-header__logo-image {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    padding-left: 10px;
    width: 370px;
    height: auto; }
  .body__no-main-page .page-header {
    height: 246px; }
  .body__no-main-page .page-header__logo {
    height: 213px; }
  .body__no-main-page .page-header__container::after {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 39px;
    background-image: linear-gradient(to right top, #f8f5f2 50%, #dbd8d5 51%, transparent 52%), linear-gradient(to left top, #f8f5f2 50%, #dbd8d5 51%, transparent 52%);
    background-size: 50% 100%, 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right; } }

@media (min-width: 1200px) {
  .page-header__container {
    width: 1200px; }
  .page-header__logo {
    height: 648px;
    background-position: center -72px;
    background-size: cover;
    background-image: url("../img/bg-header.jpg"); } }
  @media (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .page-header__logo {
      background-image: url("../img/bg-header@2x.jpg"); } }

@media (min-width: 1200px) {
  .page-header__logo-image {
    margin-top: 57px; }
  .body__no-main-page .page-header {
    height: 319px; }
    .body__no-main-page .page-header__logo {
      height: 310px; }
    .body__no-main-page .page-header__container::after {
      height: 63px; } }

.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  /* центровщик */
  background-color: #826550; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:hover, .main-nav__toggle:active {
    background-color: #624530; }

/* Рисуем гамбургер с помощью теней*/
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }

/* "Гамбургер" в момент нажатия */
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }

.main-nav--opened .main-nav__toggle {
  top: 0;
  /*right: auto;*/
  left: 0;
  height: 50px; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3); }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

/* На мобильном убираем меню*/
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
    /* верхняя строчка отображает текущий раздел */ }
    .main-nav--closed .site-list__item--current {
      display: block; }
  .main-nav--closed .site-list__item--current a {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center; }
  .main-nav--closed .login-list__item {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38; }
    .main-nav--opened .main-nav__wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 7px;
      height: 100%;
      box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0; }
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .site-list__item--current a {
    padding-left: 21px;
    padding-right: 21px;
    text-align: left; }
  .main-nav--nojs .login-list__item {
    display: block;
    background-color: #6a4d38; } }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000; }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto; }
  .main-nav__toggle {
    display: none; } }

@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px; } }

.stats {
  background-color: #353535; }

.stats__container {
  width: 320px;
  margin: 0 auto; }

.stats__header {
  padding: 25px 20px 25px 20px;
  color: #000000;
  background-color: #ffffff; }

.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.stats__text {
  margin: 0;
  margin-bottom: 3px;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px; }

.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #353535; }

.stats__legend--top {
  display: none; }

.stats__legend sup {
  top: -0.25em;
  font-size: 90%; }

.stats__list {
  width: 100%;
  border-collapse: collapse; }

.stats__list tr {
  color: #ffffff;
  background-color: #404040; }
  .stats__list tr:nth-child(2) {
    background-color: #4e4e4e; }
  .stats__list tr:nth-child(3) {
    background-color: #353535; }
  .stats__list trntt-child(4) {
    background-color: #4e4e4e; }

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px 20px 20px 20px;
  padding-bottom: 18px;
  vertical-align: top; }

.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold; }

.stats__value sup {
  top: -0.35em;
  margin-left: 5px; }

.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right; }

@media (min-width: 768px) {
  .stats__container {
    box-sizing: border-box;
    position: relative;
    padding: 0 64px 0 64px;
    margin-top: -185px;
    width: 768px; }
  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 135px; }
    .stats__header::before {
      content: "";
      position: absolute;
      top: 27px;
      left: -15px;
      border: 15px solid transparent;
      border-bottom-color: #ffffff;
      transform: rotate(45deg); }
  .stats__slogan {
    width: 240px;
    margin-bottom: 18px;
    padding-top: 6px;
    padding-left: 20px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none; }
  .stats__text {
    width: 210px;
    margin-top: 11px;
    padding-right: 60px;
    text-align: left; }
  .stats__legend--top {
    display: block;
    width: 240px;
    color: rgba(0, 0, 0, 0.3); }
  .stats__legend--bottom {
    display: none; }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap; }
  .stats__list tr {
    padding: 25px 35px;
    padding-bottom: 28px;
    width: 250px; }
  .stats__list td {
    display: block;
    padding: 0;
    width: auto; }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px; }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left; }
  .stats__field br {
    display: none; } }

@media (min-width: 1200px) {
  .stats__container {
    display: flex;
    padding: 0 120px 0 120px;
    margin-top: -160px;
    width: 1200px; }
  .stats__header {
    display: block;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 20px;
    width: 320px; }
    .stats__header::before {
      top: 22px; }
  .stats__slogan {
    margin-bottom: 44px;
    padding-left: 0px; }
  .stats__text {
    margin-bottom: 32px; }
  .stats__legend--top {
    width: auto; }
  .stats__list {
    display: flex;
    width: 640px; } }

.site-list {
  font-weight: bold; }

.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f; }

.site-list a[href]:hover, .site-list a[href]:focus {
  background-color: #755a46;
  border-top-color: #755a46; }

.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38; }

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 570px; }
  .site-list__item {
    margin-right: 34px; }
    .site-list__item:last-child {
      margin-right: 0; }
    .site-list__item--current {
      position: relative; }
      .site-list__item--current::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;
        height: 3px;
        background: #826550; }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none; }
  .site-list__item a[href]:hover, .site-list__item a[href]:focus {
    color: #826550;
    background-color: #000000; }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3; } }

@media (min-width: 1200px) {
  .site-list {
    width: 780px; }
  .site-list__item {
    margin-right: 3px; }
    .site-list__item--current::after {
      right: 30px;
      left: 30px; }
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px; }
  .site-list__item a[href]:hover, .site-list__item a[href]:focus {
    color: #000000;
    background-color: #ffffff;
    transition: all 0.2s linear; }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1; } }

.login-list__login-link {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; }

.login-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff; }

@media (min-width: 768px) {
  .login-list {
    width: 60px; }
  .login-list__login-link {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0; }
    .login-list__login-link:hover .login-list__login-icon,
    .login-list__login-link:focus .login-list__login-icon {
      opacity: 1;
      fill: #826550; }
    .login-list__login-link:active .login-list__login-icon {
      opacity: 0.3;
      fill: #ffffff; }
  .login-list__login-icon {
    top: 29px;
    left: 12px; } }

@media (min-width: 1200px) {
  .login-list {
    width: auto;
    max-width: 160px; }
  .login-list__login-link {
    position: relative;
    width: auto;
    height: auto;
    padding: 25px 30px 23px 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; }
    .login-list__login-link:hover, .login-list__login-link:focus {
      color: #000000;
      background-color: #ffffff;
      transition: all 0.2s linear; }
    .login-list__login-link:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff; }
    .login-list__login-link:hover .login-list__login-icon {
      opacity: 0.3;
      fill: #000000; }
    .login-list__login-link:active .login-list__login-icon {
      opacity: 0.1; }
  .login-list__login-icon {
    left: 15px; } }

.advantages {
  background-color: #353535; }

.advantages__container {
  position: relative;
  width: 320px;
  margin: 0 auto; }

.advantages__list {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  height: 317px;
  list-style: none; }

.advantages__item {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 31px 20px 0 20px;
  width: 100%;
  height: 317px; }

.advantages__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-top: 126px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center; }

.advantages__text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.advantages__item--fast::before, .advantages__item--cool::before, .advantages__item--expensive::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 113px;
  width: 95px;
  height: 94px;
  background-repeat: no-repeat;
  background-size: 95px 94px; }

.advantages__item--fast {
  display: none; }
  .advantages__item--fast::before {
    background-image: url(../img/advantage-1.svg); }

.advantages__item--cool {
  display: none; }
  .advantages__item--cool::before {
    background-image: url(../img/advantage-2.svg); }

.advantages__item--expensive {
  display: none; }
  .advantages__item--expensive::before {
    background-image: url(../img/advantage-3.svg); }

.advantages__item--current {
  display: block; }

.advantages__toggles {
  height: 35px; }

@media (min-width: 768px) {
  .advantages__container {
    box-sizing: border-box;
    padding: 0 64px 14px 64px;
    width: 768px; }
  .advantages__container::after {
    bottom: -41px;
    height: 41px; }
  .advantages__list {
    margin: 0;
    padding: 0;
    height: 525px; }
  .advantages__item {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 160px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
    height: 175px; }
    .advantages__item--fast, .advantages__item--cool, .advantages__item--expensive {
      display: block; }
  .advantages__title {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    text-align: left; }
  .advantages__text {
    text-align: left; }
  .advantages__text br {
    display: none; }
  .advantages__item--fast::before, .advantages__item--cool::before, .advantages__item--expensive::before {
    top: 45px;
    left: 30px; }
  .advantages__item--fast::after,
  .advantages__item--cool::after {
    content: "";
    position: absolute;
    top: 178px;
    left: 37px;
    width: 568px;
    height: 1px;
    background-color: #f7f4f1;
    opacity: 0.1; } }

@media (min-width: 1200px) {
  .advantages__container {
    padding: 0 120px 7px 120px;
    width: 1200px; }
  .advantages__container::after {
    bottom: -65px;
    height: 65px; }
  .advantages__list {
    display: flex;
    margin: 0;
    padding: 0;
    height: 390px; }
  .advantages__item {
    position: relative;
    margin: 0;
    padding: 0;
    padding: 67px 10px 0 10px;
    width: 320px;
    height: 390px; }
  .advantages__title {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    padding-top: 138px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center; }
  .advantages__text {
    text-align: center; }
  .advantages__text br {
    display: inline; }
  .advantages__item--fast::before, .advantages__item--cool::before, .advantages__item--expensive::before {
    top: 79px;
    left: 113px; }
  .advantages__item--fast::after,
  .advantages__item--cool::after {
    content: "";
    position: absolute;
    top: 79px;
    left: 320px;
    width: 1px;
    height: 268px;
    background-color: #4a4a4a;
    opacity: 1; } }

.slider__toggles {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.slider__toggle {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent; }

.slider__toggle {
  position: relative;
  margin-left: 12px;
  margin-right: 20px;
  cursor: pointer; }
  .slider__toggle::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 4px;
    height: 4px;
    border: 2px solid #8b8b8b;
    transform: rotate(45deg); }
  .slider__toggle--current::before {
    background-color: #ffffff;
    border-color: #ffffff; }

.rewiews .slider__toggle::before {
  border-color: #858483; }

.rewiews .slider__toggle--current::before {
  background-color: #353535;
  border-color: #353535; }

@media (min-width: 768px) {
  .advantages .slider__toggles {
    display: none; } }

.news {
  position: relative;
  color: #000000;
  background-color: #f8f5f2; }
  .news:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e5ddd5; }

.news__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 28px;
  width: 320px; }

.news__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.news__list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none; }

.news__item {
  position: relative;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 3px; }
  .news__item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 280px;
    height: 1px;
    background-color: #e1d9d1; }
  .news__item:last-child {
    display: none; }
  .news__item:first-child::after {
    display: none; }

.news__link {
  display: flex;
  text-decoration: none; }
  .news__link:hover .news__date, .news__link:focus .news__date {
    background-color: #826550; }
    .news__link:hover .news__date::after, .news__link:focus .news__date::after {
      background-image: linear-gradient(to right top, transparent 50%, #9d806b 51%, #826550 52%), linear-gradient(to left top, transparent 50%, #9d806b 51%, #826550 52%); }
  .news__link:hover .news__text, .news__link:focus .news__text {
    color: #826550;
    text-decoration: underline; }
  .news__link:active .news__date {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a4d38; }
    .news__link:active .news__date::after {
      background-image: linear-gradient(to right top, transparent 50%, #795c47 51%, #6a4d38 52%), linear-gradient(to left top, transparent 50%, #795c47 51%, #6a4d38 52%); }
  .news__link:active .news__text {
    color: #6a4d38; }

.news__date {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-top: 7px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #000000; }
  .news__date b {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold; }
  .news__date::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: -10px;
    background-image: linear-gradient(to right top, transparent 50%, #454545 51%, #000000 52%), linear-gradient(to left top, transparent 50%, #454545 51%, #000000 52%);
    background-size: 50% 100%, 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right; }

.news__text {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 215px;
  color: #000000; }

.news__button-show-all {
  margin-top: 21px;
  margin-left: 20px; }

@media (min-width: 768px) {
  .news__container {
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 81px 64px 35px 64px;
    width: 768px; }
  .news__title {
    order: 1;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    width: 480px;
    font-size: 40px;
    text-align: left; }
  .news__button-show-all {
    order: 2;
    margin: 0;
    margin-top: 2px; }
  .news__list {
    order: 3;
    padding: 0;
    margin-top: 17px;
    display: flex;
    width: 640px; }
  .news__item {
    width: 320px; }
    .news__item::after {
      display: none; }
  .news__text span {
    display: none; } }

@media (min-width: 1200px) {
  .news__container {
    justify-content: space-between;
    padding: 118px 120px 37px 120px;
    width: 1200px; }
  .news__title {
    padding-left: 70px; }
  .news__list {
    justify-content: space-between;
    width: 960px; }
  .news__item:last-child {
    display: block; } }

.rewiews {
  color: #000000;
  background-color: #f8f5f2; }

.rewiews__container {
  position: relative;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 10px;
  width: 320px; }

.rewiews__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.rewiews__write {
  display: none; }

.rewiews__list {
  position: relative;
  margin-bottom: 10px;
  padding: 2px 20px 0 20px;
  height: 152px; }

.rewiews__item {
  position: absolute;
  display: flex;
  margin: 0;
  padding: 0;
  height: 152px; }

.rewiews__item--1 {
  display: none; }

.rewiews__item--2 {
  display: none; }

.rewiews__item--3 {
  display: none; }

.rewiews__item--current {
  display: flex; }

.rewiews__author-img--container {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 70px;
  text-align: left; }

.rewiews__text--wrapper {
  width: 210px; }

.rewiews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  font-style: normal; }

.rewiews__text {
  margin: 0;
  padding: 0;
  padding-top: 6px; }

.rewiews__toggles {
  margin: 0;
  padding: 0; }

.rewiews__button--back,
.rewiews__button--next {
  display: none; }

@media (min-width: 768px) {
  .rewiews__container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    box-sizing: border-box;
    padding: 36px 64px 61px 64px;
    height: 346px;
    height: 355px;
    width: 768px; }
  .rewiews__container::after {
    display: none; }
  .rewiews__title {
    padding-top: 10px;
    width: 480px;
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;
    text-align: left; }
  .rewiews__write {
    display: inline-block; }
  .rewiews__list {
    margin-top: 22px;
    padding: 0;
    width: 640px;
    height: 160px; }
  .rewiews__item {
    box-sizing: border-box;
    padding-top: 30px;
    width: 640px;
    height: 160px;
    outline: 1px solid #e7dfd8; }
  .rewiews__author-img--container {
    width: 160px;
    text-align: right; }
  .rewiews__author-img {
    position: relative;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%; }
  .rewiews__item--2 .rewiews__author-img {
    object-position: 25% 50%; }
  .rewiews__text--wrapper {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 90px;
    width: 480px; }
  .rewiews__text {
    padding-top: 11px; }
  .rewiews__toggles {
    position: absolute;
    padding-right: 13px;
    padding-left: 13px;
    left: 323px;
    top: 269px;
    background-color: #f8f5f2; }
  .rewiews__button {
    position: absolute;
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 160px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer; }
    .rewiews__button:hover, .rewiews__button:focus {
      border: 1px solid #d5c9bd; }
    .rewiews__button:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #d5c9bd; }
  .rewiews__button--back {
    top: 0px;
    left: 0px;
    border-right: 1px solid #e7dfd8; }
    .rewiews__button--back::after {
      content: "";
      position: absolute;
      top: calc(50% - 6px);
      left: calc(50% - 10px);
      background-color: transparent;
      border: 6px solid transparent;
      border-right: 10px solid #000000; }
  .rewiews__button--next {
    top: 0;
    right: 0;
    border-left: 1px solid #e7dfd8; }
    .rewiews__button--next::after {
      content: "";
      position: absolute;
      top: calc(50% - 6px);
      left: calc(50% - 6px);
      background-color: transparent;
      border: 6px solid transparent;
      border-left: 10px solid #000000; } }

@media (min-width: 1200px) {
  .rewiews__container {
    justify-content: space-between;
    padding: 36px 120px 0px 120px;
    width: 1200px;
    height: 382px; }
  .rewiews__title {
    padding-left: 70px; }
  .rewiews__list {
    position: absolute;
    left: 190px;
    top: 103px;
    width: 820px; }
  .rewiews__item {
    padding: 0;
    width: 820px;
    height: 160px; }
  .rewiews__author-img--container {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 160px; }
  .rewiews__author-img {
    margin: 0;
    padding: 0;
    width: 249px;
    height: 160px;
    border-radius: 0%; }
  .rewiews__text--wrapper {
    box-sizing: border-box;
    padding: 30px 70px 0 70px;
    width: 570px; }
  .rewiews__toggles {
    left: 540px;
    top: 316px; }
  .rewiews__button {
    border: 1px solid #e7dfd8; }
    .rewiews__button--back {
      left: -70px; }
    .rewiews__button--next {
      right: -70px; } }

.page-footer {
  background-color: #292929; }

.page-footer__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 65px;
  width: 320px;
  height: 493px; }

.page-footer__contacts {
  margin: 0 20px 26px 20px;
  font-size: 18px;
  line-height: 27px;
  text-align: center; }

.page-footer__contacts--title {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-weight: bold; }

.page-footer__contacts--address {
  margin: 0;
  margin-bottom: 18px;
  padding: 0; }

.page-footer__contacts--tel {
  font-weight: bold; }

.page-footer__contacts--tel span {
  display: none; }

.page-footer__social {
  margin-bottom: 28px; }

.page-footer__copyright--text {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  text-align: center; }

.page-footer__copyright--link {
  margin: 0 20px 0 20px; }

@media (min-width: 768px) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding: 50px 64px 0px 64px;
    width: 768px;
    height: 340px; }
  .page-footer__contacts {
    order: 1;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    width: 480px;
    text-align: left; }
  .page-footer__contacts br {
    display: none; }
  .page-footer__contacts--title {
    text-transform: uppercase; }
  .page-footer__contacts--address {
    margin: 0; }
  .page-footer__contacts--tel {
    margin: 0;
    padding: 0;
    height: 25px;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    border: none;
    cursor: text; }
    .page-footer__contacts--tel:active {
      color: #ffffff;
      background-color: #353535;
      opacity: 1; }
  .page-footer__contacts--tel [href] {
    display: none; }
  .page-footer__contacts--tel span {
    display: inline; }
  .page-footer__copyright {
    order: 2;
    width: 160px; }
  .page-footer__copyright--link {
    margin: 0; }
  .page-footer__social {
    order: 3;
    flex-grow: 1;
    width: 100%; } }

@media (min-width: 1200px) {
  .page-footer__container {
    flex-wrap: nowrap;
    padding: 50px 120px 0 120px;
    width: 1200px;
    height: 198px; }
  .page-footer__contacts {
    order: 1;
    width: 400px; }
  .page-footer__social {
    order: 2;
    flex-grow: 0;
    margin-left: -6px; }
  .page-footer__copyright {
    order: 3;
    width: 400px; }
  .page-footer__copyright--wrapper {
    width: 160px;
    padding-left: 240px; } }

.social {
  width: 320px; }

.social__title {
  display: none; }

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.social__item {
  flex-grow: 1;
  height: 100px; }
  .social__item:nth-child(2) {
    margin-left: -1px;
    margin-right: -1px; }
  .social__item:hover, .social__item:focus {
    z-index: 2; }

.social__link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  text-decoration: none;
  border: 1px solid #3f3f3f; }
  .social__link:hover, .social__link:focus {
    border-color: #515151;
    transition: all 0.3s linear; }
  .social__link:active {
    background-color: #242424;
    border-color: transparent;
    opacity: 0.3; }
  .social__link--facebook::after, .social__link--instagram::after, .social__link--vkontakte::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat; }
  .social__link--facebook::after {
    left: calc(50% - 9px);
    top: calc(50% - 19px);
    width: 18px;
    height: 39px;
    background-image: url(../img/facebook-icon-big.png); }
  .social__link--instagram::after {
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
    background-image: url(../img/insta-icon-big.png); }
  .social__link--vkontakte::after {
    left: calc(50% - 11px);
    top: calc(50% - 13px);
    width: 23px;
    height: 26px;
    background-image: url(../img/vk-icon-big.png); }

@media (min-width: 1200px) {
  .social {
    width: 162px; }
  .social__title {
    display: block;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
    text-align: center; }
  .social__link {
    width: 162px; }
  .social__item {
    flex-grow: 0;
    margin: 0 6px;
    padding: 0;
    height: 50px; }
  .social__link {
    width: 50px;
    height: 50px; }
    .social__link--facebook::after {
      left: calc(50% - 5px);
      top: calc(50% - 10px);
      width: 10px;
      height: 21px;
      background-image: url(../img/facebook-icon-small.png); }
    .social__link--instagram::after {
      left: calc(50% - 9px);
      top: calc(50% - 9px);
      width: 19px;
      height: 19px;
      background-image: url(../img/insta-icon-small.png); }
    .social__link--vkontakte::after {
      left: calc(50% - 7px);
      top: calc(50% - 9px);
      width: 15px;
      height: 17px;
      background-image: url(../img/vk-icon-small.png); } }

.main-other__title {
  background-color: #f8f5f2;
  color: #000000; }

.main-other__title--wrapper {
  margin: 0 auto;
  width: 320px; }

.main-other__title--text {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.main-other__to-main-link {
  display: none; }

@media (min-width: 768px) {
  .main-other__title--wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 93px 64px 0 64px;
    width: 768px; }
  .main-other__title--text {
    padding: 0;
    padding-top: 9px;
    font-size: 40px;
    line-height: 30px;
    font-weight: bold; }
  .main-other__to-main-link {
    display: block; } }

@media (min-width: 1200px) {
  .main-other__title--wrapper {
    padding: 112px 120px 0 120px;
    width: 1200px; } }

.our-works {
  color: #000000;
  background-color: #f8f5f2; }

.our-works__container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 20px 11px 20px;
  width: 320px; }

.our-works__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.our-works__item {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  border: 1px solid #e5ddd5; }

.our-works__item blockquote {
  margin: 0;
  padding: 0; }

.our-works__photo {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  width: 280px;
  height: 176px; }

.our-works__item--work-month .our-works__photo {
  margin-bottom: 17px;
  width: 280px;
  height: 480px; }

.our-works__img {
  display: block; }

.our-works__model-name {
  padding: 0 22px;
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  font-style: normal; }

.our-works__text {
  margin: 0;
  padding: 0;
  padding: 12px 22px 0 22px; }

.our-works__item--work-month .our-works__services {
  padding-bottom: 15px; }

.our-works__services {
  padding-bottom: 28px; }

.our-works__item--work-month-label {
  position: absolute;
  box-sizing: border-box;
  padding: 11px 0 0 25px;
  width: 168px;
  height: 50px;
  top: 380px;
  left: 0px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #826550; }
  .our-works__item--work-month-label::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 29px;
    height: 100%;
    background-image: linear-gradient(to left top, transparent 50%, #826550 51%), linear-gradient(to left bottom, transparent 50%, #826550 51%);
    background-size: 50% 100%, 50% 100%;
    background-repeat: no-repeat;
    background-position: top, bottom; }

@media (min-width: 768px) {
  .our-works__container {
    padding: 40px 64px 18px 64px;
    width: 768px; }
    .our-works__container::after {
      height: 41px;
      bottom: -41px; }
  .our-works__item {
    margin-bottom: 40px; }
  .our-works__item blockquote {
    display: flex;
    flex-wrap: nowrap; }
  .our-works__photo {
    margin: 0;
    width: 270px;
    height: 293px; }
  .our-works__item--work-month .our-works__photo {
    margin: 0;
    width: 270px;
    height: 480px; }
  .our-works__description-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 38px 50px 42px 30px;
    width: 370px; }
  .our-works__item--work-month .our-works__description-container {
    padding: 42px 30px 21px 30px; }
  .our-works__model-name {
    margin: 0;
    padding: 0 20px; }
  .our-works__text {
    margin: 0;
    padding: 26px 20px 0 20px; }
  .our-works__services {
    margin: 0;
    padding: 0;
    width: 240px; }
  .our-works__item--work-month-label {
    top: 15px;
    left: -3px; } }

@media (min-width: 1200px) {
  .our-works__container {
    padding: 80px 120px 48px 120px;
    width: 1200px; }
    .our-works__container::after {
      display: none; }
  .our-works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .our-works__item blockquote {
    display: block; }
  .our-works__item--work-month blockquote {
    display: flex; }
  .our-works__item {
    width: 294px;
    height: 540px; }
  .our-works__item--work-month {
    width: 960px;
    height: 480px; }
  .our-works__photo {
    width: 294px;
    height: 294px; }
  .our-works__item--work-month .our-works__photo {
    width: 480px;
    height: 480px; }
  .our-works__description-container {
    display: flex;
    justify-content: space-between;
    padding: 27px 8px 34px 16px;
    width: 100%;
    height: 247px; }
  .our-works__item--work-month .our-works__description-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding: 128px 40px 13px 20px;
    width: 480px;
    height: 480px; }
  .our-works__item--work-month .our-works__text {
    padding-right: 100px; }
  .our-works__item--work-month .services {
    width: 100%; }
  .our-works__item--work-month .services__item {
    width: 30%; }
  .our-works__item--work-month-label {
    top: 7px;
    left: auto;
    right: 1px; }
    .our-works__item--work-month-label::after {
      left: -15px;
      background-image: linear-gradient(to right top, transparent 50%, #826550 51%), linear-gradient(to right bottom, transparent 50%, #826550 51%); } }

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none; }

.services__item {
  position: relative;
  margin: 0;
  padding-top: 16px;
  width: 50%; }
  .services__item::before {
    content: "";
    position: absolute; }
  .services__item--scissors::before {
    top: 20px;
    left: 2px;
    width: 21px;
    height: 20px;
    background-image: url(../img/scissors-icon.svg);
    background-size: cover; }
  .services__item--scissors .services__text {
    padding-left: 37px; }
  .services__item--beard::before {
    top: 18px;
    left: 9px;
    width: 23px;
    height: 21px;
    background-image: url(../img/beard-icon.svg);
    background-size: cover; }
  .services__item--beard .services__text {
    padding-left: 54px; }
  .services__item--mustache::before {
    top: 23px;
    left: -11px;
    width: 45px;
    height: 13px;
    background-image: url(../img/mustache-icon.svg);
    background-size: cover; }
  .services__item--mustache .services__text {
    padding-left: 48px; }

.services__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase; }

.our-price {
  color: #ffffff;
  background-color: #353535; }

.our-price__container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 17px 17px 17px;
  width: 320px; }

.our-price__title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.our-price__table-price {
  width: 100%; }

.our-price__discount {
  margin: 15px 3px 0 3px;
  height: 90px;
  border: 1px solid #484848; }

.our-price__discount--text {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 18px 40px 0 113px;
  font-size: 20px;
  line-height: 27px; }
  .our-price__discount--text::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 20px;
    width: 58px;
    height: 57px;
    background-image: url("../img/clock-illustration.svg"); }

@media (min-width: 768px) {
  .our-price__container {
    padding: 89px 64px 55px 64px;
    width: 768px; }
    .our-price__container::after {
      display: none; }
  .our-price__title {
    margin-bottom: 54px;
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;
    text-align: left; }
  .our-price__discount {
    margin: 7px 0 0 0;
    height: 112px; }
  .our-price__discount--text {
    padding: 44px 0 0 185px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }
    .our-price__discount--text::before {
      top: 21px;
      left: 27px;
      width: 72px;
      height: 71px; } }

@media (min-width: 1200px) {
  .our-price__container {
    padding: 80px 120px 80px 120px;
    width: 1200px; }
  .our-price__table-discount--wrapper {
    display: flex;
    justify-content: space-between; }
  .our-price__discount {
    margin: 0;
    width: 269px;
    height: 276px; }
  .our-price__discount--text {
    padding: 200px 70px 0 70px;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    text-align: center; }
    .our-price__discount--text::before {
      top: 35px;
      left: 65px;
      width: 142px;
      height: 139px; } }

.table-price {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 27px;
  border-spacing: 0 13px; }
  .table-price__number {
    display: none; }
  .table-price__service-name {
    font-weight: bold;
    vertical-align: top; }
    .table-price__service-name span {
      line-height: 15px;
      font-weight: normal; }
  .table-price__service-wash {
    display: none; }
  .table-price__price {
    text-align: right;
    vertical-align: top; }

@media (min-width: 768px) {
  .table-price {
    box-sizing: border-box;
    border-collapse: collapse; }
    .table-price tr {
      height: 55px;
      border: 2px solid #4a4a4a; }
    .table-price td {
      border: 2px solid #4a4a4a; }
    .table-price__number {
      display: table-cell;
      width: 75px;
      text-align: center;
      opacity: 0.3; }
    .table-price__service-name {
      padding-left: 20px;
      width: 247px;
      vertical-align: middle; }
      .table-price__service-name span {
        display: none; }
    .table-price__service-wash {
      padding-left: 20px;
      display: table-cell;
      width: 158px; }
    .table-price__price {
      padding-left: 20px;
      width: 158px;
      text-align: left;
      vertical-align: middle; } }

@media (min-width: 1200px) {
  .table-price {
    width: 630px; }
    .table-price__number {
      width: 70px; }
    .table-price__service-name {
      width: 247px; }
    .table-price__service-wash {
      width: 158px; }
    .table-price__price {
      width: 147px; } }

.form-write__wrapper {
  color: #000000;
  background-color: #f8f5f2; }

.form-write {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 24px 20px 11px 20px;
  width: 320px; }

.form-write__fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.form-write__fieldset--client-contacts {
  margin-bottom: 22px; }

.form-write__fieldset--client-text {
  margin-bottom: 19px; }

.form-write__fieldset--beard {
  margin-bottom: 33px; }

.form-write__fieldset p {
  margin: 6px 0; }

.form-write__input {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0px 15px;
  width: 100%;
  height: 50px;
  border: 1px solid #e5ddd5; }
  .form-write__input::placeholder {
    color: #000000; }
  .form-write__input:hover, .form-write__input:focus {
    border-color: #9d948b;
    outline: none; }
  .form-write__input:active {
    border-color: #999999;
    outline: none; }

.form-write__input--text {
  padding-top: 12px;
  height: 112px;
  resize: none; }

.form-write__fieldset-legend {
  margin-bottom: 33px;
  padding-top: 3px;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center; }

.form-write__beard-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.form-write__beard-item {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 63px;
  padding-left: 0px;
  width: 93px;
  height: 210px;
  text-align: center; }

.form-write__beard-label {
  cursor: pointer; }
  .form-write__beard-label--admiral span::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 22px;
    width: 52px;
    height: 51px;
    background-image: url(../img/beard-1.svg);
    background-size: cover; }
  .form-write__beard-label--lumberjack span::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 18px;
    width: 58px;
    height: 70px;
    background-image: url(../img/beard-2.svg);
    background-size: cover; }
  .form-write__beard-label--polar span::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 16px;
    width: 64px;
    height: 81px;
    background-image: url(../img/beard-3.svg);
    background-size: cover; }
  .form-write__beard-label--boyar span::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 18px;
    width: 58px;
    height: 100px;
    background-image: url(../img/beard-4.svg);
    background-size: cover; }
  .form-write__beard-label--sage span::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 22px;
    width: 46px;
    height: 109px;
    background-image: url(../img/beard-5.svg);
    background-size: cover; }

.form-write__beard-input + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 5px;
  left: 23px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #e7dfd8;
  cursor: pointer; }

.form-write__beard-input + label:hover::before,
.form-write__beard-input + label:focus::before,
.form-write__beard-input:checked + label:hover::after,
.form-write__beard-input:checked + label:focus::after {
  border-color: #d5c9bd; }

.form-write__beard-input + label:active::before {
  box-sizing: border-box;
  border: 17px solid #e7dfd8; }

.form-write__beard-input:checked + label:active::after {
  top: 5px;
  left: 23px;
  width: 50px;
  height: 50px;
  background-color: #e7dfd8;
  border-color: #e7dfd8; }

.form-write__beard-input:checked + label::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 21px;
  left: 39px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #e7dfd8; }

.form-write__services-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-top: 5px;
  list-style: none; }

.form-write__services-item {
  margin: 0;
  margin-bottom: 26px;
  padding: 0; }

.form-write__services-label {
  position: relative;
  box-sizing: border-box;
  padding-left: 60px;
  padding: 5px 0 6px 60px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer; }

.form-write__services-input + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: -1px;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5; }

.form-write__services-input + label:hover::before, .form-write__services-input + label:focus::before {
  border-color: #d5c9bd; }

.form-write__services-input + label:active::before {
  background-color: #d5c9bd; }

.form-write__services-input + label:active::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 9px;
  left: 7px;
  width: 22px;
  height: 16px;
  background-image: url(../img/tick.svg);
  background-size: cover; }

.form-write__services-input:checked + label::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 9px;
  left: 7px;
  width: 22px;
  height: 16px;
  background-image: url(../img/tick.svg);
  background-size: cover; }

.form-write__services-input:checked + label:active::after {
  display: none; }

.form-write__services-input:focus + label {
  outline: 1px solid #e5ddd5; }

.form-write__button-submit {
  margin-bottom: 5px;
  padding-top: 0px;
  color: #ffffff;
  background-color: #826550; }
  .form-write__button-submit:hover, .form-write__button-submit:focus {
    background-color: #6a4d38; }
  .form-write__button-submit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a4d38; }
  .form-write__button-submit:disabled {
    background-color: #aeaeae;
    cursor: auto; }

@media (min-width: 768px) {
  .form-write {
    padding: 66px 64px 72px 64px;
    width: 768px; }
    .form-write::after {
      display: none; }
  .form-write__fieldset--beard, .form-write__fieldset--services {
    border-top: 1px solid #e5ddd5; }
  .form-write__fieldset--client-name {
    margin: 0;
    margin-bottom: 30px;
    padding: 0; }
  .form-write__fieldset--client-name .form-write__fieldset-wrapper {
    display: flex; }
  .form-write__fieldset--client-name p {
    margin: 0;
    padding: 0;
    width: 33.33%; }
  .form-write__input {
    padding: 0 25px;
    height: 70px;
    font-size: 24px;
    line-height: 30px; }
  .form-write__fieldset--client-contacts {
    margin-bottom: -5px; }
  .form-write__fieldset--client-contacts p {
    margin-bottom: 35px; }
  .form-write__input--text {
    padding-top: 16px;
    height: 210px; }
  .form-write__fieldset--client-text {
    margin-bottom: 40px; }
  .form-write__fieldset-legend {
    position: relative;
    margin-bottom: 39px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 30px;
    line-height: 30px; }
    .form-write__fieldset-legend::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 100px;
      width: 100%;
      height: 10px;
      background-color: #e5ddd5;
      background-color: red; }
  .form-write__beard-list {
    justify-content: space-between; }
  .form-write__beard-item {
    padding-top: 83px;
    height: 265px; }
  .form-write__beard-label {
    font-size: 24px;
    line-height: 24px; }
    .form-write__beard-label--admiral span::before, .form-write__beard-label--lumberjack span::before, .form-write__beard-label--polar span::before, .form-write__beard-label--boyar span::before, .form-write__beard-label--sage span::before {
      top: 142px; }
  .form-write__services-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-top: 34px; }
  .form-write__services-item {
    padding-top: 0px;
    margin-bottom: 52px;
    width: 50%; }
  .form-write__services-input + label::before {
    top: 0; }
  .form-write__services-label {
    padding: 1px 0 3px 60px;
    font-size: 24px;
    line-height: 30px; }
  .form-write__services-item-1 {
    order: 1; }
  .form-write__services-item-2 {
    order: 4; }
  .form-write__services-item-3 {
    order: 2; }
  .form-write__services-item-4 {
    order: 5; }
  .form-write__services-item-5 {
    order: 3; }
  .form-write__services-item-6 {
    order: 6; }
  .form-write__button-submit {
    width: 100%;
    height: 70px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold; } }

@media (min-width: 1200px) {
  .form-write {
    padding: 70px 120px 82px 120px;
    width: 1200px; }
  .form-write__fieldset-wrapper {
    display: flex;
    justify-content: space-between; }
  .form-write__fieldset--client-name p {
    width: 295px; }
  .form-write__fieldset--client-contacts p {
    width: 462px; }
  .form-write__fieldset--client-text {
    margin-bottom: 53px; }
  .form-write__beard-list {
    padding: 7px 35px 0 35px; }
  .form-write__services-item {
    width: 33.3%; }
  .form-write__services-list {
    margin-bottom: 32px; }
  .form-write__services-label {
    padding: 1px 0 4px 60px; } }

@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"), url("../fonts/PTSansNarrow.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"), url("../fonts/PTSansNarrowBold.woff") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.advantages__container::after {
  content: "";
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: -34px;
  width: 100%;
  height: 34px;
  background-image: linear-gradient(to right top, transparent 50%, #3a3a3a 51%, #353535 52%), linear-gradient(to left top, transparent 50%, #3a3a3a 51%, #353535 52%);
  background-size: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right; }

.our-price__container::after {
  content: "";
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: -34px;
  width: 100%;
  height: 34px;
  background-image: linear-gradient(to right top, transparent 50%, #323232 51%, #353535 52%), linear-gradient(to left top, transparent 50%, #323232 51%, #353535 52%);
  background-size: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right; }

.rewiews__container::after, .our-works__container::after, .form-write::after {
  content: "";
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: -34px;
  width: 100%;
  height: 34px;
  background-image: linear-gradient(to right top, transparent 50%, #fffcf9 51%, #f8f5f2 52%), linear-gradient(to left top, transparent 50%, #fffcf9 51%, #f8f5f2 52%);
  background-size: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right; }
